$form-input-bg: #26303c;
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
$font-all: "Space Mono", monospace;
$input-color: rgb(121, 184, 255);
#octo_input {
	background-color: $form-input-bg;
	outline: 0px;
	border: 0px;
	border-radius: 0.25rem;
	width: 100%;
	max-width: 500px;
	margin: 0px auto;
	color: $input-color;
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
	height: 2em;
	font-family: $font-all;
	width: 35em;
}
@media only screen and (max-width: 420px) {
	body {
		width: 100vw;
	}
	#octo_input {
		width: 90vw;
		font-size: 1.5rem;
		margin: 0;
	}
}
