@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 13%;
}

.form-container svg {
  height: 4rem;
  width: 4rem;
}

.form-container h1 {
  font-size: 2.6em;
}

#octo_input {
  background-color: #26303C;
  outline: 0px;
  border: 0px;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  color: #79b8ff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  height: 2em;
  font-family: "Space Mono", monospace;
  width: 35em;
}

a {
  text-decoration: none;
  color: black;
}

.repos {
  width: 20em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
  height: 15em;
  background-color: white;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 1px #999;
  box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.repos:hover {
  -webkit-box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
}

.repos svg {
  display: inline-block;
  fill: currentColor;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: text-bottom;
}

.repos .repo__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  gap: 10px;
}

.repos .repo__name h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #24292e;
}

.repos .repo__top {
  color: #586069;
}

.repos .repo__top p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
      align-items: flex-start;
  text-align: start;
  max-height: 80px;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.repos .repo__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 13px;
  color: #6a737d;
}

.repos .repo__stats--left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.repo-container {
  background-color: #f6f8fa;
}

.repo-container .sub-repo-container {
  margin-top: 25em;
  height: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  gap: 1em;
  margin-left: 5em;
}

.repo-container .sub-repo-container h2 {
  border-bottom: dashed 2px #ccc5c5;
  padding-bottom: 6px;
}

.repo-container li {
  list-style-type: none;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 1s;
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 1s;
}

.dropdown ul {
  list-style: none;
  position: absolute;
  background-color: #eff6ff;
  color: #0070f3;
  top: 1.2em;
  -webkit-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  border-radius: 5px;
}

.dropdown ul li {
  width: 7.5em;
  margin-left: -2.5em;
  padding: 7px;
  text-align: start;
}

.dropdown ul li:hover {
  background-color: rgba(0, 118, 255, 0.1);
  cursor: pointer;
}

.button_dropdown {
  border-radius: 5px;
  padding: 10px 7px;
  width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  outline: none;
  color: #0070f3;
}

.button_dropdown:hover {
  background-color: rgba(0, 118, 255, 0.1);
  cursor: pointer;
}

.button_dropdown svg {
  display: inline-block;
  fill: #0070f3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: text-bottom;
}

.repo-content-container {
  margin-top: -10em;
  padding: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 20em;
}

.info-container img {
  width: 10em;
  height: 10em;
  background-size: contain;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 10px solid blue;
}

.info-container .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-container .name span {
  font-size: 3em;
}

.info-container .name a {
  color: #0070f3;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: 500;
}

.info-container .bio {
  margin-top: 20px;
  opacity: 0.4;
  margin-bottom: 20px;
}

.info-container .location-join {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  color: #c8e1db;
  margin-bottom: 20px;
  width: 70%;
}

.info-container .location-join svg {
  fill: currentColor;
  color: #c8e1db;
}

.info-container .location-join .same-lojo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.info-container .location-join .add {
  margin-left: 20px;
}

.info-container .pro-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1em;
}

.info-container .info-box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #24292e;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.25rem;
  margin-bottom: 20px;
  gap: 10px;
  text-align: center;
}

.info-container .info-box #label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-top: 0.75rem;
  color: rgba(200, 225, 255, 0.7);
}

.card-container {
  margin-left: 11.8em;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  -webkit-box-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  max-width: 1200px !important;
  margin-top: -15em !important;
}

.main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

.card {
  background-color: white;
  max-width: 500px;
  padding: 2rem;
  border-radius: 0.25rem;
}

.card header {
  font-size: 24px;
  color: #24292e;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 2px dashed #ccc5c5;
  padding-bottom: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card canvas {
  margin-top: 2em;
}

body {
  background-color: #1d2226;
  font-family: "Inter", sans-serif;
  margin: 0;
}
/*# sourceMappingURL=app.css.map */